.navbar {
  min-height: 80px;
}

.navbar .nav {
  display: flex;
  width: 100vw;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: #106cc8;
  position: fixed;
  top: 0;
  z-index: 20;
}

.navbar .nav .left {
  margin-left: 10vw;
}

.navbar .nav .left .title {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

/* list style */
.home {
  padding: 0 10%;
}

.cardHome {
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
}

.cardHome:nth-child(even) {
  background-color: #eee;
}

.cardHome:hover {
  background-color: lightgray;
}

.cardHome .left {
  flex: 0.8;
  color: black;
  text-decoration: none;
}

.cardHome .left .title {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.cardHome .left .body {
  font-size: 14px;
  font-size: 400;
}

.button-cari {
  margin-left: 10px;
}

.input-search {
  margin-bottom: 20px;
}
